/* 
Author: Noah Osterhout
Project: NoahOsterhout.com V2
Created On: July 9th 2022
Last Edited On: July 16th 2022
File: Main.CSS
*/

* {
  font-family: "Open Sans", sans-serif;
  color: #fefefe;
  background: #101317;
}

body {
  overflow-x: hidden;
}

a:link {
  color: #22c2fc;
}

a:visited {
  color: #22c2fc;
}

a:hover {
  color: #22c2fc;
}

a:active {
  color: #22c2fc;
}

.btn-outline-primary {
  --bs-btn-color: #22c2fc;
  --bs-btn-border-color: #22c2fc;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: none;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: #22c2fc;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba (0, 0, 0, 0.125);
  --bs-btn-disabled-color: none;
  --bs-btn-disabled-bg: transparent;
  --bs-gradient: none;
}

.card {
    --bs-card-border-radius: none;
    --bs-card-border-color: none;
}

.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: hsl(0, 0%, 90%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.mainColor {
  color: #22c2fc;
}

@font-face {
  font-family: "abberancy";
  src: url(/css/fonts/abberancy/Abberancy.otf);
  font-weight: normal;
  font-style: normal;
}